/vendor/
/node_modules/
/.env
/.env.*
!/.env.example
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
/public/build/
/public/hot
/.phpunit.cache
/.phpunit.result.cache
/.cache/
/dist/
/.idea/
/.vscode/
/mdn-pr16/
/mdn-pr17/
